.projects-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    width: auto !important;
}

.project-content {
    width: 100%;
}

.project-row {
    height: 5rem;
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
}

.projects-title {
    padding: 8rem 0 4rem 0;
    font-size: 2.5rem !important;
}

@media (max-width: 85rem) {
    .project-row {
        height: auto !important;
        justify-content: center;
    }

    @media (max-width: 54rem) {
        .project-row {
            padding: 4rem 0;
        }
    }
}