# react
/node_modules
bower_components
/.pnp
.pnp.js

# misc
.DS_*
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
logs
**/*.backup.*
**/*.back.*
npm-debug.log*
psd
thumb
sketch